body {
  font-family: Arial, Helvetica, sans-serif;
}

.head {
  background-color: #26d0c9;
  color: #fff;
  height: 90px;
}
/* //untuk drop button */
.dropbtn {
  background-color: darkcyan;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: max-content;
}
.dropbtn:hover {
  background-color: cyan;
}
/* isi konten yang akan di css */
.content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.content a:hover {
  background-color: gray;
}
/* untuk menampilkan content */
.show {
  display: block;
}
.sidebar {
  margin-top: 90px;
  text-align: center;
  width: 90px;
  height: auto;
}
.header-logo {
  float: right;
  font-size: 36px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
#gambar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.w3-container{
  display: none;
}
.aktif{
  display: block;
}

